Header{
     font-family: "New Times Roman";
     text-align: Center;
}

h1 {
     color: green;
     border:5px solid green;
     background: #000000;
     width: 300px;
     height: 35px;
     font-family: Courier New; 
}

h6{
     font-size:525px;
     width:725px;
}

Section{
     font-family: "Courier New";
     width:725px;
     background: orange;
}

aside{
     background: red;
}
     
body{
     border:5px;
}

footer{
     color:green;
}

.lit{
display:inline;
margin-right:30px;
}
.lit:hover{
     background: #A1B0B5;
}

header{
     position: relative;
}

#what's_up{
     display:inline-block;
     width:80%;
}

#info{
     display:absolute;
     width:20%;
}

