Header{
     font-family: "New Times Roman";
     text-align: Center;
}

h1 {
     color: green;
     border:5px solid green;
     background: #000000;
     width: 300px;
     height: 35px;
     font-family: Courier New; 
}

h6{
     font-size:100;
     width:1025px;
}

Section{
     font-family: "Courier New";
     width:1025px;
}
     
body{
     border:5px;
}

footer{
     color:green;
}

.lit{
display:inline;
margin-right:30px;
background: blue;
}


